.steps-section{
    width: 100%;
    height: 100vh;
    background-color: #E1E6F0;
    background: linear-gradient(to left, #ffff 60%, #E1E6F0 60%);
}
.steps-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.step-features{
    width: 100%;
    height: 100vh;
    max-width: 60%;
    display: flex;
    justify-content: center;
/*     background-color: red; */
    overflow-y: scroll;
    padding: 5
    30px;
}
.step-title-container{
    padding: 20px;
}
.one{
    margin-bottom: 3rem;
}
.one>.text{
    width: 100%;
    max-width: 600px; 
    margin: 20px;
  /*   background-color: blue; */
}
.one>.text>h3{
    color: #1450B4;
    text-align: left;
    font-weight: bold;
}
.one>.text>p{
    color: #051428;
    text-align: left;
    font-weight: lighter;   
    text-align: justify; 
}
.one>.items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.one>.items>.items-card{
    width: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    background-color: #E1E6F0;
}
.one>.items>.items-card>p{
    font-weight: lighter;
}
.one>.items>.items-card:hover{
    background-color: #133874;
    color: white;
    transition: 300ms;
}

.pass-btns{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}
.pass-btns>a{
    text-decoration: underline;
    color: #1450B4;
}
.one>.box{
    max-width: 600px;
    margin: auto;
    background-color: #E1E6F0;
    border-radius: 20px;
    padding: 40px;
}
.one>.text>.box{
    max-width: 600px;
    margin: auto;
    background-color: #E1E6F0;
    border-radius: 20px;
    padding: 40px;
    margin: 2rem 0 2rem 0;
}
.one>.text>.box>ul>li{
    list-style: lower-roman;
    margin: 25px 0px 25px 0px;
    color: #051428;
}
.one>.box>ul>li{
    list-style: disc;
    margin: 25px 0px 25px 0px;
    color: #051428;
}
.one>.text>ul>li{
    margin: 20px;
}
.strong-color{
    color: #1450B4;
    font-size: 1.1rem;
}

@media(max-width:1200px){
    .steps-section{
        background: linear-gradient(to top, #ffff 76%, #E1E6F0 76%);
    }
    .step-features{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .pass-btns{
        position: fixed;
        bottom: 2rem;
        right: 4rem; 
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.267);
    }
    .steps-container{
        flex-wrap: wrap;
    }
}
@media(max-width:700px){
    .one>.text{
        width: 100%;
        max-width: 300px; 
        margin: 20px 0px 20px 0px;
    }
    .one>.text>h3{
        text-align: center;
    }
    .one>.text>p{
        text-align: justify; 
        font-size: 0.8rem;
    }
    .one>.items{
    width: 100%;
       flex-direction: column;
       justify-content: center;
       margin: 20px 0px 20px 0px;
       display: flex;
    }
    .pass-btns{
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0px;
        flex-direction: column;
        text-align: center;
    }
    .step-features{
        overflow: hidden;
    }
    .one>.box{
        max-width: 400px;
        margin: 20px 0px 20px 0px;
    }
}
@media(max-width:500px){
    .one>.box{
        max-width: 300px;
    }
}